@{
    ViewData["Title"] = "Home Page";
}

<h2>Nhập thông tin</h2>

<form asp-action="Index" method="post">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName" required />
    <br />

    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address" required />
    <br />

    <input type="submit" value="Gửi dữ liệu" />
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h2>Kết quả:</h2>
    <p>@ViewBag.Message</p>
}
